.gradle
/local.properties
/.idea
.DS_Store
/build
/app/mirror
*.iml

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex
Config.java

# Java class files
*.class

# Mac files
.DS_Store

#sass cache
.sass-cache

#build keystore
*.keystore
*.key
*.jks
!debug.keystore
