package com.multunus.onemdm.config;

import com.multunus.onemdm.BuildConfig;

public class Config {
    public static final String ACCESS_TOKEN = "access_token";
    public static final String HOST_URL = (BuildConfig.DEBUG)? "https://demo-onemdm.herokuapp.com/"
        : "http://onemdm.herokuapp.com/"; //"http://192.168.2.92:3000/";
    public static final String REGISTRATION_URL = HOST_URL + "devices";
    public static final String HEARTBEAT_URL = HOST_URL + "heartbeats";
    public static final String APP_INSTALLED_URL = HOST_URL + "installations/installed";
    public static final long USAGE_COLLECTION_TRACKING_INTERVAL_IN_SECONDS = 2;


    public static String PREFERENCE_TAG = "onemdm";
    public static final int DEFAULT_HEARTBEAT_RETRY_INTERVAL = 30;
    public static final String GCM_SENDER_ID = "958182646350";
    public static final String APP_DATA = "APP_DATA";

    //Feature Flag(s)

    public static  boolean TRACK_APP_USAGE = false;
}
