package com.multunus.onemdm.config;

/**
 * Created by yedhukrishnan on 15/10/15.
 */
public class Config {
    public static final String ACCESS_TOKEN = "access_token";
    public static final String HOST_URL = "http://onemdm.herokuapp.com/";
    public static final String REGISTRATION_URL = HOST_URL + "devices";
    public static final String HEARTBEAT_URL = HOST_URL + "heartbeats";
    public static final String APP_INSTALLED_URL = HOST_URL + "installations/installed";


    public static String PREFERENCE_TAG = "onemdm";
    public static final int DEFAULT_HEARTBEAT_RETRY_INTERVAL = 30;
    public static final String GCM_SENDER_ID = "958182646350";
    public static final String APP_DATA = "APP_DATA";
}
